*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*Configurações do header*/
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    
}

ul li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
    color: rgba(0,0,0,.87);
    
}

a:hover{
    text-decoration: underline;
}

.menu{
    margin-right: 15px;
}

.menu ul{
    display: flex;
    align-items: center;
    
}

.menu a{
    font-size: 13px;
    display:block;
}

.menu ul li{
    margin-left: 20px;
}

.menu-icon a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon a:hover{
    background-color: #f0f0f0;
}

.menu-icon img{
    display: inline-block;
    width: 18px;
    height: 18px;
    
}

img[src="assets/images/user-icon.png"]{
    width: 32px;
    height: 32px;
}

/*Configurações do main*/

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logo img{
    width: 272px;
    height: 92px;
}







footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    position: absolute;
    bottom: 0;
    color: #70757a;
}

.f-div,.f-menu{
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.f-div{
    font-size: 15px;
    border-bottom: 1px solid #dadce0;
}

.f-menu{
    display: flex;
    justify-content: space-between;
   
}

.f-menu a{
    font-size: 14px;
    color: #70757a;
    
}

.fm1 li{
    margin-right: 30px;
}

.fm2 li{
    margin-left: 30px;
}

